link(rel='stylesheet', href='/css/index.css')
body
    .center
        p
            h1.
                GridMP
        canvas(id='gameCanvas', width=600, height=600)

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="http://cdn.sockjs.org/sockjs-0.3.min.js")

        script(src="/js/index.js")

